@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
  padding: 0;
  margin: 0;
box-sizing: border-box;
font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color:#242424;
  text-align: center;
  line-height: 1.25;
}
h1 {
  font-size: 36px;
}

p {
  line-height: 1.5;
  font-size: 16px;
}


li {list-style-type: none;
}
.flex {display: flex;
}

.flex-1
 { flex: 1; }



 .row 
 {width: 100%;
  max-width: 800px;
  margin: 0 auto;
  }
  .text--purple {
    color: #6030b1;}

 /*NAVIGATION BAR*/

nav{
  height: 100px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__link--list {
  display: flex;
}

.nav__link--anchor {
  margin: 0 12px;
  color: black;
    text-decoration: none;
    font-weight: 700;
}
.nav__l1nk--anchor-primary {
  background-color: #6030b1;
  padding: 8px 20px;
  border-radius: 50px;
  color: white;
  transition: all 300ms ease;
 }

 .nav__l1nk--anchor-primary:hover {background-color: #5d3eff;
}

.personel__logo {
  font-size: 24px;
  color: #6030b1;
  margin: 0 12px;
  font-weight: bold;
}

/* About Me */

#about-me {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about-me__info--container {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
.about-me__picture--mask
 {width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  margin-bottom: 28px;
  }







  .about-me__picture 
  {width: 100%;
  
/* Improving My Own Picture */
transform: scale(1.5);
  padding-top: 8px;
}
.about-me__info--title
 {margin-bottom: 16px;
  }



.about-me__info--para {
  font-size: 20px;
  margin-bottom: 24px;
  }

Button {
background-color: #05c7cf;
color: white;
border: none;
padding: 8px 16px;
font-size: 24px;
cursor: pointer;
  
}
.logo{
 width: 300px;
}

ul {
  display: flex;
}

li {
  list-style: none;
  padding-left: 16px;
}

#about {
  padding: 48px 0;
  background-color: #f8ffdc;
}

.row {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#about,
#discord,
#contact {
  padding: 48px 0;
}

/*

ABOUT

*/

#about {
  background-color: #f8ffdc;
}
h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 24px;
}

.section__description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__img--wrapper,
.section_description--wrapper {
  padding: 0 20px;
}

.about__img--wrapper {
  width: 40%;
  padding: 0 24px;
}

img {
  width: 100%;
}

.section_description--wrapper {
  width: 60%;
  padding: 0 24px;
}

.about__img--wrapper,
.section__description--wrapper {padding: 0 30px}
.section_description--para {
  font-size: 20px;
  line-height: 1.5;
  margin-bottom: 24px;
}

/*
DISCORD

*/

#discord {
  background-color: #cefeff;
}

/*
CONTACT
*/

#contact{
  background-color: #dce9ff
}

form {
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: colomn;
  margin: 0 auto;
  padding: 0 24px;
}

input,
textarea {
  padding: 6px 12px;
  margin-bottom: 24px;
  font: size 20;
}

/*
FOOTER

*/

footer {background-color: #aaf5ff;
  display: flex;
  flex-direction: column;
  align-items:center;
}

.footer__logo {max-width: 480px;
  margin-bottom: 16px;
}

.footer__links {margin-bottom: 32px;
}

.footer__links {padding: 0 16px;
}

/* SMALL PHONES, TABLETS, LARGE SMARTPHONES */

@media (max-width: 728px) {
  .row {flex-direction:column;
  }

  .home__description{margin-bottom: 24px;
  display: flex;
flex-direction: column;
align-items: center;
}

.home__description--button {
  max-width: 240px;
}

h1 {text-align: center;
font-size: 60px;
}

.subheader {text-align: center;
font-size: 28px;
}

ul {display: none;
}

.section__description {flex-direction: column;
}

.section__description--wrapper {width: 100%;
}

.about__img--wrapper {width: 100%;

}

#discord .section__ {flex-direction: column-reverse;
}

footer { padding: 40px 24px
}

.footer__logo {max-width: 360px;
}

.footer__links {
  padding: 0 4px;
  font-size: 18px
}

.footer__links { margin-bottom: 24px;
}
}
